@font-face {
  font-family: "Gilroy Extra Bold";
  src: url("../fonts/gilroyextrabold.woff2") format('woff2'),
       url("../fonts/gilroyextrabold.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy Light";
  src: url("../fonts/gilroylight.woff2") format('woff2'),
       url("../fonts/gilroylight.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #464646;
}

.button {
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 4px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  text-transform: uppercase;

  background-image: linear-gradient(transparent 6px, #f0c52e 6px, #f0c52e 14px, transparent 14px);
}

.button:hover {
  background-color: #f0c52e;
}

.button:focus {
  color: rgba(0, 0, 0, 0.3);
}

.header {
  width: 1160px;
  height: 299px;
  margin-top: 40px;

  background-color: #f7e296;
}

.site-navigation,
.site-navigation ul,
.user-navigation {
  list-style: none;
}

.user-navigation a {
  font: inherit;
  color: rgba(0, 0, 0, 1);
  line-height: 24px;
  text-decoration: none;
}

.site-navigation a {
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 5px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-decoration: none;
}

.user-navigation a:hover,
.site-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:focus,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.logout a {
  color: rgba(0, 0, 0, 0.3);
}

.logout a:hover {
  color: rgba(0, 0, 0, 1);
}

.site-subnavigation {
  display: none;
}

.site-subnavigation a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: none;
}

.search-form input {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.3);

  background-color: transparent;
  border: none;
}

.search-form input:hover {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:focus {
  color: rgba(0, 0, 0, 1);
}

.search-button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  color: rgba(0, 0, 0, 1);

  background-color: transparent;
  border: 2px solid #000000;
}

.search-button:hover {
  background-color: #000000;
  color: rgba(255, 255, 255, 1);
}

.search-button:focus {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  outline: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-title {
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #000000;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.1);
}

.index-column h3 {
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 2px;
  color: #000000;
}

.index-column ul {
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.index-column p {
  line-height: 30px;
}

.catalog-list {
  list-style: none;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 1);
}

.filter ul {
  list-style: none;
  padding: 0;
}

.filter-input + label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 35px;
  color: rgba(0, 0, 0, 1);
}

.catalog-list h3 {
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #000000;
  text-align: left;
}

.catalog-list a {
  font-family: inherit;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.item-price {
  font-family: "Gilroy Light", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.item-img-overlay {
  display: none;
  background-color: rgba(202, 202, 202, 0.7);
}

.item-add {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);

  background-color: transparent;
  border: none;
}

.item-add:hover {
  color: rgba(0, 0, 0, 1);
}

.item-add:focus {
  color: rgba(0, 0, 0, 0.2);
}

.pagination {
  width: 760px;
  background-color: #ebebeb;
}

.pagination a {
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-button {
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
}

.pagination-button:hover {
  background-color: #d9d9d9;
}

.pagination-button:focus {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
}

.pagination-list {
  list-style: none;
}

.pagination-list a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item-current a {
  color: rgba(0, 0, 0, 1);
}

.footer {
  background-color: #464646;
  color: rgba(255, 255, 255, 1);
}

.footer p {
  line-height: 24px;
}

.footer-site-navigation,
.footer-user-navigation {
  list-style: none;
}

.footer-site-navigation a {
  font-family: "Gilroy Extra Bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 5px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  text-decoration: none;
}

.footer-site-navigation a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation a:focus {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.footer-user-navigation a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-user-navigation a:focus {
  color: rgba(255, 255, 255, 0.3);
}

.socials-list {
  list-style: none;
}

.modal {
  display: none;
}
