@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/gilroyextrabold.woff2") format('woff2'),
       url("../fonts/gilroyextrabold.woff") format('woff');
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/gilroylight.woff2") format('woff2'),
       url("../fonts/gilroylight.woff") format('woff');
}


body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #464646;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  text-transform: uppercase;

  border: none;
  background-color: transparent;
  background-image: linear-gradient(transparent 6px, #f0c52e 6px, #f0c52e 14px, transparent 14px);
}

.button:hover,
.button:focus {
  background-color: #f0c52e;
}

.button:active {
  background-color: #f0c52e;
  color: rgba(0, 0, 0, 0.3);
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: relative;

  margin-top: 40px;
}

.header-logo {
  position: absolute;
  top: -20px;
}

.header-logo:hover,
.header-logo:focus {
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.navigation-wrapper {
  background-color: #f7e296;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: 1040px;
  margin: 0 auto;
}

.top-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 30px;
}

.cart-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation {
  display: flex;
  justify-content: flex-start;
  width: 260px;
  margin: 0;
  margin-right: 20px;
  padding: 0;

  list-style: none;
}

.user-navigation li {
  margin-right: 20px;
}

.user-navigation li:last-child {
  margin-right: 0;
}

.cart-navigation {
  width: 220px;
}

.user-navigation a,
.cart-navigation a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 1);
  line-height: 30px;
  text-decoration: none;
}

.user-navigation span,
.cart-navigation span {
  margin-left: 12px;
}

.user-navigation a:hover,
.user-navigation a:focus,
.cart-navigation a:hover,
.cart-navigation a:focus {
  opacity: 0.6;
}

.user-navigation a:active,
.cart-navigation a:active {
  opacity: 0.3;
}

.logout a {
  color: rgba(0, 0, 0, 0.3);
}

.logout a:hover {
  color: rgba(0, 0, 0, 1);
}

.site-navigation,
.site-navigation ul {
  list-style: none;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 59px;
  padding: 0;

  position: relative;
}

.site-navigation a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-subnavigation {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
  min-height: 132px;
  margin: 0;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 40px;
  padding-bottom: 40px;

  position: absolute;
  top: 20px;
  left: -60px;
  z-index: 1;

  background-color: #f7e296;

  box-sizing: border-box;
}

.site-navigation-item {
  margin-right: 37px;
}

.site-navigation-item:last-child {
  margin-right: 0;
}

.site-navigation-left {
  flex-grow: 2.8;
}

.site-navigation-center {
  flex-grow: 1;
}

.site-navigation-item:hover > ul {
  display: flex;
}

.site-subnavigation a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: none;
}

.catalog-link {
  position: relative;
  padding-right: 16px;
}

.catalog-link::after {
  content: "";

  position: absolute;
  top: 3px;
  right: -16px;

  width: 16px;
  height: 16px;

  background-image: url("../img/plus.png");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.search-form {
  display: flex;
  justify-content: space-between;
  width: 440px;
  min-height: 49px;
  padding-right: 60px;
  margin-right: 40px;
}

.search-form input,
.search-form input[placeholder] {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.3);

  background-color: transparent;
  border: none;
}

.search-form input{
  display: block;
  width: 355px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 16px;
  padding-left: 36px;

  box-sizing: border-box;

  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: 0 18px;
  background-size: 16px 16px;
}

.search-form input:hover,
.search-form input[placeholder]:hover {
  color: rgba(0, 0, 0, 0.6);
}

.search-form input:focus,
.search-form input[placeholder]:focus,
.search-form input:active,
.search-form input[placeholder]:active {
  color: rgba(0, 0, 0, 1);
  border-bottom: 2px solid #000000;
  outline: transparent;
}

.search-button {
  display: none;

  padding: 7px 16px;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 1);

  background-color: transparent;
  border: 2px solid #000000;
}

.search-input:focus + .search-button{
  display: block;
}

.search-button:hover,
.search-button:focus {
  background-color: #000000;
  color: rgba(255, 255, 255, 1);
}

.search-button:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
  outline: transparent;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 1px;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  padding-left: 60px;
  margin: 0;
  margin-bottom: 50px;

  list-style: none;
}

.breadcrumbs li {
  position: relative;

  margin-right: 40px;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 10px;
  right: -22px;

  width: 4px;
  height: 7px;

  background-image: url("../img/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}


.breadcrumbs-current::after {
  display: none;
}


.breadcrumbs a,
.breadcrumbs-current {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:active {
  color: rgba(0, 0, 0, 0.1);
}

.promo-slide-number {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
}

.promo-slide h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 1px;
  color: #000000;
}

.promo-slide p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 1px;
  color: #464646;
}

.promo-slide tr {
  text-align: left;
}

.promo-slide th {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1px;
  color: #464646;
}

.promo-slide td {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 1px;
  color: #000000;
}

.promo-controls {
  list-style: none;
}

.product-category-list {
  list-style: none;
}

.product-category-list a,
.product-category-list h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.product-category-list a:active,
.product-category-list h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.product-category-image-wrapper {
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.services-list {
  list-style: none;
}

.service-item label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #000000;
  text-transform: uppercase;

  background-image: linear-gradient(transparent 6px, #f0c52e 6px, #f0c52e 14px, transparent 14px);
}

.service-item input:checked + label {
  color: #f7e184;

  background-color: #000000;
  background-image: none;
}

.service-description h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 1px;
  color: #000000;
}

.service-description p {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.partners-list {
  list-style: none;
}


.index-column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 560px;
}

.index-column h3 {
  position: relative;
  margin: 50px 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 1px;
  color: #000000;
}

.index-column h3::before {
  position: absolute;
  top: -50px;
  left: 0;
  content: "";

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.index-column ul {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.index-column .map-link {
  display: block;
  width: 560px;
  height: 222px;
  margin-bottom: 80px;
}

.index-list {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
}

.index-list-item {
  position: relative;

  padding: 0;
  padding-left: 35px;
}

.index-list-item::before {
  content: "";

  position: absolute;
  top: 16px;
  left: 0;

  width: 8px;
  height: 8px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
  box-sizing: border-box;
}

.index-column p {
  line-height: 30px;
  margin: 40px 0;
}

.index-column .button {
  width: 260px;
  margin-top: auto;
}

.letter-item label {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.letter-item input,
.letter-item textarea {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #464646;

  background-color: #f2f2f2;
  border: 3px solid #f2f2f2;
}

.letter-item input:hover,
.letter-item textarea:hover {
  background-color: #eaeaea;
  border: 3px solid #eaeaea;
}

.letter-item input:focus,
.letter-item textarea:focus,
.letter-item input:active,
.letter-item textarea:active {
  background-color: #ffffff;
  border: 3px solid #f0c52e;
  outline: transparent;
}

.letter-item .error {
  background-color: #f6dada;
  border: 3px solid #f6dada;
}

.catalog-list {
  list-style: none;
}

.filter-form {
  margin-top: 70px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  border: none;
}

.filter legend {
  position: relative;

  padding-top: 17px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 1);
}

.filter legend::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 200px;
  height: 2px;
  background-color: #000000;
}

.filter .button {
  width: 200px;
}

.filter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-option {
  padding-left: 40px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input + label {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 1);
}

.filter-input-checkbox + label::before {
  content: "";

  position: absolute;
  top: 8px;
  left: -40px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: -40px;

  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  top: 7px;
  left: -40px;

  width: 25px;
  height: 25px;

  border: 4px solid #000000;
  border-radius: 50%;
  box-sizing: border-box;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 15px;
  left: -32px;

  width: 9px;
  height: 9px;

  background-color: #000000;
  border-radius: 50%;
  box-sizing: border-box;
}

.filter h2,
.sort h2 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #000000;
  text-transform: uppercase;
}

.sort-options-list {
  list-style: none;
}

.sort-option-item a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.sort-option-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-option-item a:focus,
.current-option a {
  color: rgba(0, 0, 0, 1);
}

.catalog-list h3 {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #000000;
  text-align: left;
}

.catalog-list a {
  font-family: inherit;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.catalog-item {
  position: relative;
}

.new-item::before {
  content: "";

  position: absolute;
  top: 29px;
  right: 26px;

  width: 60px;
  height: 61px;

  background-image: url("../img/label-new.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.item-price {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #464646;
  white-space: nowrap;
}

.item-img-overlay {
  display: none;

  position: absolute;
  top: 0;
  left: 0;

  width: 360px;
  height: 380px;

  background-color: rgba(238, 238, 238, 0.7);
}

.item-img-overlay .button {
  margin-top: 48px;
  margin-bottom: 5px;
  width: 200px;
}

.catalog-item:hover .item-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-add {
  display: block;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.5);

  cursor: pointer;

  background-color: transparent;
  border: none;
}

.item-add:hover,
.item-add:focus {
  color: rgba(0, 0, 0, 1);
}

.item-add:active {
  color: rgba(0, 0, 0, 0.2);
}

.pagination {
  width: 760px;
  background-color: #ebebeb;
}

.pagination a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-button {
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
}

.pagination-button:hover,
.pagination-button:focus {
  background-color: #d9d9d9;
}

.pagination-button:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d9d9d9;
}

.pagination-list {
  list-style: none;
}

.pagination-list a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list a:hover,
.pagination-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item-current a,
.pagination-list a:active {
  color: rgba(0, 0, 0, 1);
}

.footer {
  padding-top: 65px;
  padding-bottom: 62px;

  background-color: #464646;
  color: rgba(255, 255, 255, 1);
}

.footer-row-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-row-wrapper:last-child {
  margin-bottom: 0;
}

.footer-row-center {
  align-items: center;
}

.footer-user-navigation,
.footer-cart-navigation {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-user-navigation li {
  margin-right: 20px;
}

.footer-user-navigation li:last-child {
  margin-right: 40px;
}

.footer-cart-navigation li {
  margin-right: 40px;
}

.footer-cart-navigation li:last-child {
  margin-right: 0;
}

.footer-user-navigation-link path {
  fill: #ffc600;
}

.footer-user-navigation-link span {
  margin-left: 10px;
}

footer .decor-line {
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.footer-logo path {
  fill: #ffc600;
}

.copyright path {
  fill: #ffc600;
}

.footer-logo {
  flex-grow: 2;
}

.footer-logo:hover,
.footer-logo:focus,
.copyright:hover,
.copyright:focus {
  opacity: 0.6;
}

.footer-logo:active,
.copyright:active {
  opacity: 0.3;
}

.footer p {
  margin: 0;
  line-height: 30px;
}

.footer-site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-site-navigation-item{
  margin: 0 19px;
}

.footer-site-navigation a {
  font-family: "Gilroy", "Arial", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  text-decoration: none;
}

.footer-site-navigation a:hover,
.footer-site-navigation a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.footer-site-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-user-navigation a,
.footer-cart-navigation a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
}

.footer-user-navigation a:hover,
.footer-user-navigation a:focus,
.footer-cart-navigation a:hover,
.footer-cart-navigation a:focus {
  color: rgba(255, 255, 255, 1);
}

.footer-user-navigation a:active,
.footer-cart-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-logout a {
  color: rgba(255, 255, 255, 0.3);
}

.socials-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-item {
  margin: 0 10px;
}

.social-item a {
  display: block;
  width: 32px;
  height: 32px;

  background-repeat: no-repeat;
  background-position: center center;

  opacity: 0.3;
}

.social-item a:hover,
.social-item a:focus {
  opacity: 0.6;
}

.social-item a:active {
  opacity: 0.1;
}

.social-facebook {
  background-image: url("../img/facebook.svg");
}

.social-instagram {
  background-image: url("../img/instagram.svg");
}

.social-twitter {
  background-image: url("../img/twitter.svg");
}

.modal {
  display: none;
  background-color: #ffffff;
}

/* --- Стили для сетки --- */



.site-navigation {
  padding: 0;
}

.information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.promo-slider {
  height: 520px;
  margin-bottom: 75px;
  background-image: linear-gradient( #f7e296 113px, transparent 113px);
  position: relative;
}

.promo-controls {
  /* временно */
  position: absolute;
  right: 80px;
  top: 327px;
}

.promo-decor-line {
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.promo-slide {
  display: flex;
  justify-content: space-between;
}

.promo-image-wrapper,
.promo-description-wrapper {
  width: 560px;
}

.promo-image-wrapper img {
  display: block;
  margin: auto;
}

.promo-description-wrapper {
  position: relative;
}

.promo-decor {
  display: flex;
  justify-content: space-between;
}

.promo-decor-line {
  margin-top: 39px;
}

.promo-slide-number {
  margin-right: 60px;
}

.promo-description {
  position: absolute;
  top: 93px;
  margin-right: 60px;
}

.promo-description h3 {
  margin: 0;
  margin-bottom: 33px;
}

.promo-description p {
  margin: 33px 0;
}

.promo-description table {
  margin-top: 50px;
}

.promo-description td,
.promo-description th {
  padding-right: 80px;
}

.promo-description td:last-child,
.promo-description th:last-child {
  padding-right: 0;
}

.product-categories {
  padding-bottom: 80px;
}

.product-category-list {
  padding: 0;
  margin: 0;
  display: flex;
}

.product-category {
  width: 160px;
  margin-right: 40px;
}

.product-category:nth-child(6n) {
  margin-right: 0;
}

.product-category a {
  display: flex;
  flex-direction: column;
}

.product-category h3 {
  order: 1;
  margin: 0;
  margin-top: 40px;
}

.product-category-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partners-list {
  padding: 0;
  margin: 100px 0;
  display: flex;
  justify-content: space-around;
}

.services {
  width: 100%;
  background-image: linear-gradient(transparent 100px, #e5e5e5 100px, #e5e5e5 388px, transparent 388px);
}

.services .container {
  display: flex;
  justify-content: space-between;
}

.services-list {
  padding: 0;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 70px;
  width: 280px;
  height: 169px;
  border-right: 7px solid #000000;
}

.services-wrapper {
  width: 760px;
}

.service-description {
  padding-right: 330px;
  padding-top: 80px;
}

.service-description h3 {
  margin: 0;
  margin-bottom: 40px;
}


.about-us {
  padding-right: 100px;
}

.filtered-wrapper {
  display: flex;
}

.filter {
  flex: 1.08;
  background-image: linear-gradient(#efefef, #eeeeee);
}

.filtered-products {
  flex: 2;
}

.filter-title-wrapper {
  background-image: linear-gradient(#dcdcdc, #dbdbdb);
  padding-top: 30px;
  padding-bottom: 30px;
}

.filter-title {
  width: 200px;
  margin: 0;
  margin-left: auto;
  margin-right: 68px;
}

.filter-form {
  width: 200px;
  margin-left: auto;
  margin-right: 68px;
}

.filter-form fieldset {
  padding: 0;
}

.sort-wrapper {
  background-color: #ebebeb;
  padding-top: 30px;
  padding-bottom: 30px;
}

.sort {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 760px;
  padding-left: 72px;
  padding-right: 20px;
}

.sort h2 {
  width: 160px;
  margin: 0;
  margin-right: 40px;
}

.sort-options-list {
  padding: 0;
  margin: 0;
}

.sort-parameters {
  width: 560px;
}

.sort-up-down {
  width: 45px;
  margin-left: auto;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  width: 760px;
  padding: 0;
  margin: 0;
  margin-top: 70px;
  margin-left: 72px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-bottom: 40px;
  margin-right: 40px;
}

.item-information {
  order: 1;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.item-name {
  margin: 0;
  margin-top: 37px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-left: 72px;
  margin-bottom: 77px;
}

.pagination-list {
  padding: 0;
  margin: 0;
}


